.dock-container{
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5px;
}

.dock{
    background-color: rgba(136, 136, 136, 0.192);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
}

.nav-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.nav-icon{
    font-size: 40px;
}

.nav-icon-container:hover{
    background-color: rgba(255, 255, 255, 0.3);
}